.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid rgb(121, 30, 30) 5px;
  margin: auto;
  margin-top: 80px;
}
.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: aqua;
  border: solid black 1px;
}
.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: purple;
  border: solid black 1px;
}
.ball {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  background-color: red;
}
